<div class="center jumbotron">
<h1>Welcome#index</h1>

<a href="/patients" class="buttonsmall buttonb">Patients</a>
<a href="/doctors" class="buttonsmall buttonb">Doctors</a>
<a href="/labreports" class="buttonsmall buttonb">Lab Reports</a>
<a href="/treatments" class="buttonsmall buttonb">Treatments</a>

<p>Find me in app/views/welcome/index.html.erb</p>
</div>
