<div class="center jumbotron">
<h1>National Hospital Turbat</h1>

<a href="/patients" class="buttonsmall buttonb">Patients</a>
<a href="/doctors" class="buttonsmall buttonb">Doctors</a>
<a href="/labreports" class="buttonsmall buttonb">Lab Reports</a>
<a href="/treatments" class="buttonsmall buttonb">Treatments</a>
<%= image_tag("res.jpg", :alt => "res feed") %>


<p>Welcome to Hospital Managment Syetem</p>
</div>
