<div class="center jumbotron">
<h1>Newly Created Patient Details</h1>
<p>
<strong>Patient Name:</strong>
<%= @patient.pname %>
</p>
<p>
<strong>Gender:</strong>
<%= @patient.pgender %>
</p>
<p>
<strong>Contact:</strong>
<%= @patient.pcontact %>
</p>
<p>
<strong>Address:</strong>
<%= @patient.paddress %>
</p>
<br>
<br>
<a href="/patients" class="buttonsmall buttonb">Back</a>
</div>
